.table-container {
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px; /* Add some bottom margin */
    position: relative;
}

.add-user-button {
    position: absolute;
    right: 20px;
    top: 0;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 10px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add some space between button and table */
}

.user-table th, .user-table td {
    padding: 15px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
    color: #333;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.page-numbers {
    display: flex;
}

.page-number {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.page-number.active {
    background-color: purple;
    color: white;
}

.options-container button {
    margin-right: 10px;
    margin-top: 10px; /* Add margin-top to the button */
}

.options-container .MuiFormControl-root {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.options-container .react-datepicker-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.options-container .react-datepicker__input-container input {
    height: 40px; /* Increase the height of the date picker input */
    width: 220px;
    margin-top: 10px;
}

.options-container .MuiTextField-root {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.search-box {
    width: 250px;
}

.search-box .MuiInputBase-root {
    height: 30px; /* Adjust height as needed */
    margin-top: 10px;
}

.search-box .MuiOutlinedInput-input {
    padding: 10px; /* Adjust padding to fit the new height */
}
.filters-container {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters-container .MuiFormControl-root {
    margin-right: 15px;
    min-width: 150px;
}

.filters-container .MuiInputLabel-root {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.filters-container .MuiSelect-root {
    height: 40px;
}

.filters-container .react-datepicker-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.filters-container .search-box {
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
}

.filters-container .MuiTextField-root {
    width: 220px;
}

.filters-container .MuiButton-root {
    margin-left: 10px;
    margin-top: 10px;
}
